{
   "plugins": [
      "prettier-plugin-tailwindcss",
      "@trivago/prettier-plugin-sort-imports"
   ],
   "tabWidth": 3,
   "importOrder": ["^@/(.*)$", "^[./]"],
   "importOrderSeparation": true,
   "importOrderSortByLength": "desc"
}
