@import "tailwindcss";

:root {
   --background: var(--color-gray-50);
   --foreground: var(--color-neutral-950);
   --secondary: var(--color-neutral-600);
   --darker: var(--color-gray-100);
   --layer: var(--color-white);
   --outline: var(--color-neutral-300);
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-secondary: var(--secondary);
   --color-darker: var(--darker);
   --color-layer: var(--layer);
   --color-outline: var(--outline);
   --color-glassy: color-mix(in oklab, var(--outline) 60%, transparent);
}

.dark {
   --background: var(--color-slate-800);
   --foreground: var(--color-slate-50);
   --secondary: var(--color-slate-400);
   --darker: var(--color-slate-800);
   --layer: var(--color-slate-900);
   --outline: var(--color-slate-600);
}

html {
   /* scrollbar-color: var(--foreground) var(--layer); */
   /* scrollbar-width: thin; */
   scroll-behavior: smooth;
   overflow-anchor: none;
}

body::-webkit-scrollbar {
   display: none !important;
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: "figtree", sans-serif;
}

main {
   background-color: var(--background);
}

@utility scrollbar-hidden {
   &::-webkit-scrollbar {
      display: none;
   }
}
